body{

	background-color: #000000;
	height: 100vh;
	width: 100vw;
}

.box{
    position: absolute;
    top:20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    margin: auto;
}

.key{
    transition: all 0.1s;
    visibility:hidden;
    height: 100%; 
    width: 100%;
    font-weight: bold;
}

.playing{
	transform: scale(1.0);
	visibility: visible;
}